/* Functional Pseudo-classes */
/* CSS :is :has :where :not */

/* IS */

:is(h1, h2, h3):hover {
  color: chartreuse;
}

/* NOT */
button:not(.prim) {
  color: red;
}

/* WHERE */
/* same as :is but specificity 0 */

:where(h1, h2, h3):hover {
  color: crimson;
}

/* HAS = ye parent ko selct kerta hy for child ager ye is k ksi bhi child me hoga tw  property kam kregi */

.parent:has([type="checkbox"]:checked) label {
  color: red;
}

/* ACCENT COLOR */

input[type="checkbox"] {
  accent-color: aqua;
  width: 20px;
  aspect-ratio: 1;
}