* {
    margin: 0;
    padding: 0px;
    font-size: 20px;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap');


/* // BACKGROUND PROPERTIES */

/* .box1 { */
/* width: 100%; */
/* height: 1000px; */
/* 1 */
/* background-color: rgb(28, 28, 28); */
/* 2 */
/* background-image: url(images/img\ \(4\).jpg); */
/* 3 */
/* background-repeat: no-repeat; */
/* 4 */
/* background-position: right top; */
/* 5 */
/* cover, contain, auto */
/* background-size: 100% 100%; */
/* 6 */
/* background-attachment: fixed; */
/* 7 */
/* //blending modes */
/* background-blend-mode: screen; */


/* we can add all values like that also */
/* background: aqua url(images/img\ \(1\).jpg) no-repeat right top fixed cover; */

/* } */

/* ================================================================================================== */



/* UNITS IN CSS */

/* absolute lengths */
/* px, in, pt */

/* relative lengths */
/* em, rem, %  */



/* .unitbox {
    font-size: 20px;
} */



/* PX */
/* .unit{
    font-size: 30px;
} */



/* em =16px  ye apny parent div k size k related value change kerta hy*/
/* .unit {
    font-size: 3em;
} */



/* rem = 20px i gave on star selector to root */
/* ye apny root (*) k size k related value change kerta hy */
/* .unit {
    font-size: 3rem;
} */

/* ================================================================================================== */


/* FONT PROPERTIES IN CSS */

/* @font-face {
    font-family: Cartoonish;
    src: url(Malam\ Poek.otf) format("OpenType");
}

.font {
    font-family: cartoonish, sans-serif;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    font-variant: small-caps;
} */

/* ================================================================================================== */

/* TEXT PROPERTIES IN CSS */

/* .text {
    text-align: center;

    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 10px;
    text-decoration-style: dashed;

    text-transform: capitalize;
    line-height: 1.56;
    letter-spacing: 1px;
    word-spacing: 1px;

    text-shadow: 2px 2px 10px blue;
    box-shadow: 2px 20px 100px purple;

} */

/* PSEUDO-ELEMENT */

/* .text::first-letter{
    text-transform: uppercase;
    font-size: 80px;

} */


/* 
================================================================================================== */

/* BOX-MODEL */

/* BORDER */
/* BORDER RADIUS */


.box {
    width: 400px;
    height: 400px;

    /* BORDER */
    border: 20px solid rgb(2, 0, 111);


    /* https://9elements.github.io/fancy-border-radius/#100.56.46.30--. */
    /* Fancy-Border-Radius */

    border-radius: 56% 44% 70% 30% / 100% 46% 54% 0%;


    /* https://cssgradient.io/ */
    /* CSS Gradient */

    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(75, 4, 4, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(40, 182, 7, 1) 0%, rgba(41, 185, 5, 1) 0%, rgba(197, 19, 200, 1) 0%, rgba(0, 212, 255, 1) 100%);
}




/* PRACTICE */

.box1 {
    width: 500px;
    height: 500px;
    background-color: aqua;

    border-top: 20px solid purple;
    border-bottom: 20px solid purple;
    border-right: 20px solid rgb(13, 255, 0);
    border-left: 20px solid rgb(13, 255, 0);

    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}



/* ================================================================================================== */

/* PADDING */

.p {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    /* all */
    padding: 10px;
    /* x-axis */
    padding-inline: 30px;
    /* y-axis */
    padding-block: 50px;
    /* top right bottom left */
    padding: 100px 200px 300px 400px;
    /* top - bottom / left- right */
    padding: 100px 200px;
}

/* ================================================================================================== */

/* MARGIN */

.m {
    width: 100px;
    height: 100px;
    background-color: rgb(188, 226, 18);
    /* all */
    margin: 10px;
    /* x-axis */
    margin-inline: 30px;
    /* y-axis */
    margin-block: 50px;
    /* top right bottom left */
    margin: 100px 200px 300px 400px;
    /* top - bottom / left- right */
    margin: 100px 200px;
}


/* ================================================================================================== */

/* BOX-SIZING: BORDER-BOX */
/* BOX MODEL */

/* if we dont use [box-sizing: border-box;] its not use given size  */

.b {
    width: 500px;
    height: 500px;
    background-color: aqua;

    padding: 100px;
    margin: 100px;
    border: 10px solid red;

}

/* if we  use [box-sizing: border-box;] its use given size */

.b1 {
    width: 500px;
    height: 500px;
    background-color: aqua;

    padding: 100px;
    margin: 100px;
    border: 10px solid red;

    box-sizing: border-box;

}


/* ================================================================================================== */

/* GRADIANTS IN CSS */

.g {
    width: 100%;
    height: 100vh;
    background-color: brown;

    /* linear gradiant */
    background: linear-gradient(to right, red, yellow);
    background: linear-gradient(to top, red, yellow);
    background: linear-gradient(to bottom, red, yellow);
    background: linear-gradient(to left, red, yellow);

    /* repeated linear gradiant */
    background: repeating-linear-gradient(to top left, purple, rgb(251, 3, 210) 100px);

}


.c {
    width: 100%;
    height: 100vh;
    background-color: brown;

    /* radial gradiant */
    background: radial-gradient(circle, red, yellow);


    /* repeated radial gradiant */
    background: repeating-radial-gradient(circle, purple, rgb(251, 3, 210) 50px);
}




/* PRACTICE PROJECT */

.pp {
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(to right, rgba(0, 255, 247, 0.5), rgba(0, 0, 255, 0.5)), url(images/img\ \(5\).jpg);

    background-repeat: no-repeat;
    background-size: 100% 100%;
}



/* ================================================================================================== */

/* BOX-SHADOW */

.bs {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 100px auto;

    /* BOX-SHADOW */
    box-shadow: 2px 2px 10px 0 rgb(0, 0, 0);
}


/* ================================================================================================== */

/* DROP-SHADOW */

/* use for png images */


.ds {
    width: 200px;
    height: 200px;
    margin: 100px auto;
    background-image: url(images/pngimg.png);
    background-size: 100%;
    background-repeat: no-repeat;

    /* DROP-SHADOW */
    filter: drop-shadow(10px 10px 10px rgb(225, 0, 255));

}

/* ================================================================================================== */

/* FILTERS IN CSS */

.f {
    width: 80%;
    height: 80vh;
    background-color: aqua;
    margin: auto;
    background-image: url(./images/img\ \(4\).jpg);
    background-size: 100% 100%;


    /* FILTERS */
    filter: grayscale();
    filter: blur(5px);
    filter: brightness(150%);
    filter: contrast(150%);
    filter: saturate(3);
    filter: invert();
    filter: opacity(0.9);

    /* COMBINE ALL PROPERTIES */
    filter: blur(3px) contrast(1.2) grayscale(0.5);

}


/* ================================================================================================== */

/* LIST PROPERTIES */

.list {
    width: 50%;
    height: 50vh;
    background-color: aqua;
    margin: auto;
    padding: 75px 50px;
    margin-top: 70px;
}


ul {

    /* LIST STYLE TYPE */
    list-style-type: disc;
    list-style-type: lower-alpha;
    list-style-type: upper-alpha;
    list-style-type: lower-roman;
    list-style-type: upper-roman;
    list-style-type: number;
    list-style-type: decimal;
    list-style-type: circle;

    /* LIST STYLE POSITION */
    list-style-position: inside;

    /* LIST STYLE IMAGE */
    /* list-style-image: url(images/pngimg.png) ; */


    /* ALL COMBINE */

    /* list-style: lower-alpha inside url(images/img\ \(1\).jpg); */


}


.list ul li {
    border: 1px solid red;
    margin-block: 10px;
}

.list ul li ul {
    padding-left: 50px;
}


/* ================================================================================================== */


/* ANCHOR STATES */


/* Jo link abhi tak click nahi hua. */
.a:link {
    color: rgb(0, 179, 255);
}


/* Jo link pehle click ho chuka ho. */
.a:visited {
    color: green;
}


/* Jab mouse link ke upar aaye. */
.a:hover {
    color: yellow;
}


/* Jab user link ko click kar raha ho (mouse button press ki hui ho). */
.a:active {
    color: red;
}



/* ================================================================================================== */


/* COMBINATORS */


/* universal selector */
.us * {
    color: blue;
}


/* descendant selector */
.c1 .cc1 {
    color: red;
}


/* child selector */
/* all child elements target */
.mm1 span>p {
    color: blue;
}


/* adjacent sibling selector */
/* only first sibling target */
.mm2 span+p {
    color: rgb(250, 53, 244);
}


/* general sibling */
/* all siblings */

.mm2 span~p {
    color: rgb(250, 53, 244);
}


/* ================================================================================================== */

/* DISPLAY IN CSS */



/* display block = all properties work like margin, padding, height, width */
.dh1 {
    background-color: aqua;
    margin-inline: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;

    display: block;
}

/* display inline-block = all properties work like margin, padding, height, width */
.dh1 {

    display: inline-block;
}


/* display inline = some properties not work like margin, padding, height, width */
.dh1 {

    display: inline;
}


/* display none */
.dh1 {

    display: none;
}



/* ================================================================================================== */

/* POSITIONS IN CSS */


/* relative and absolute */

.p1 {
    width: 800px;
    height: 800px;
    background-color: aqua;
    margin: 100px auto;
    position: relative;


}

.pb {

    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 1px solid red;
    font-size: 30px;
    position: absolute;

}

/* z-index */

.pb-1 {
    z-index: 4;
}

.pb-2 {
    z-index: 2;
}

.pb-3 {
    z-index: 3;
}

/* =========================================== */

/* .pb-2 {
    right: 0;
}

.pb-3 {
    right: 0;
    bottom: 0;
}


.pb-4 {
    left: 0;
    bottom: 0;
}

.pb-5 {
    top: 360px;
    left: 360px;
} */


/* fixed */

.ph {
    width: 100%;
    height: 50px;
    background-color: aqua;
    position: fixed;

}

.pc {
    width: 100%;
    height: 100vh;
    background-color: rgb(242, 171, 78);
    border: 1px solid purple;
}

/* sticky */

.pbb {
    height: 200px;
    width: 200px;
    background-color: blue;
    position: sticky;
    top: 300px;
}



/* ================================================================================================== */

/* OVERFLOW IN CSS */

.of {
    width: 40%;
    height: 300px;
    background-color: aqua;
    margin: auto;


    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
}



/* ================================================================================================== */



/* PSEUDO ELEMENTS */


.pe {
    width: 50%;
    height: 300px;
    background-color: aqua;
    margin: 40px auto;
    padding: 60px;
}

.pe h1 {
    margin-bottom: 35px;
    position: relative;

}


/* BEFORE */
.pe1::before {
    content: "\f121";
    font-family: "font awesome 6 free";
    position: absolute;
    top: -22px;
    font-size: 17px;
}

/* AFTER */
.pe1::after {
    content: "";
    border: 1px solid red;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}


/* FIRST-LETTER */
.pe p::first-letter {
    color: red;
    font-size: 30px;
}


/* FIRST-LINE */
.pe p::first-line {
    color: purple;
    text-decoration: underline;
}

/* SELECTION */
.pe p::selection {
    background-color: rgb(252, 134, 234);
}


/* ================================================================================================== */

/* PSEUDO CLASS */


/* FIRST-CHILD */
.psc p:first-child {
    color: orange;
}

/* LAST-CHILD */
.psc li:last-child {
    color: purple;
}


/* FIRST-OF-TYPE */
.psc li:first-of-type {
    color: pink;
}

/* LAST-OF-TYPE */
.psc p:last-of-type {
    color: pink;
}

/* NTH-OF-TYPE */
.psc li:nth-of-type(2) {
    color: chartreuse;
}

/* NTH-CHILD */
.psc li:nth-child(odd) {
    color: aqua;
}


/* ================================================================================================== */

/* COLUMN LAYOUT */

.cl {
    width: 50%;
    height: 500px;
    margin: auto;
    text-align: justify;
    column-count: 2;
    column-gap: 20px;
    column-rule: 1px solid purple;
    column-fill: auto;
}

/* ================================================================================================== */

/* FLEXBOX IN CSS */

.fb {
    width: 80%;
    height: 800px;
    background-color: aqua;
    margin: auto;

    /* flexbox properties */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    /* align-content: center; */
    flex: auto ;
}

.items {
    /* items properties */
    /* width: 100px;
    height: 100px; */
    background-color: chartreuse;
    border: 1px solid red;

}

/* .i-1 {
    align-self: flex-end;
    flex-grow: 1;
    flex-shrink: 1;

}

.i-2{
    flex-grow: 2;
}

.i-5{
    order: -1;
} */